@page "/flashcards"
@page "/flashcards/{CurrDeckId:int}"
@using AnkiCloneApp.Data;
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject DataService DataService


<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height:  75vh; /* Full height of the viewport */
    }

    .flashcard {
        width: 700px; /* Width of the flashcard */
        height: 500px; /* Height of the flashcard */
        background-color: white; /* Background color */
        border: 1px solid #000; /* Border color and thickness */
        box-shadow: 5px 5px 15px rgba(0,0,0,0.2); /* Shadow for 3D effect */
        margin: 20px; /* Margin around the flashcard */
        padding: 20px; /* Padding inside the flashcard */
        display: flex; /* To center content inside the flashcard */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content horizontally */
        font-size: 20px; /* Text size */
    }
    
    .button-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
</style>


<h3>Flashcard Page</h3>
<div class="row" style="justify-content: flex-start; padding: 20px">
    <!-- Bind value of current deck to CurrDeckID -->
    <select name="DeckChoices" @bind-value="CurrDeckId" @bind-value:event="oninput">
        @foreach (var deck in _deckService.DeckList)
        {
            <option value="@deck.DeckId">@deck.Name</option>
        }
    </select>
</div>

<div class="container">
    @if (Flashcards.Any())
    {
        <div class="flashcard">
            @if (_showAnswer == false) /* Check if should show the answer or not */
            {
                <p>@Flashcards[_currentIndex].GetFront()</p>
            }
            else
            {
                <p>@Flashcards[_currentIndex].GetBack()</p>
            }
        </div>
        
        <!-- Flip, Next, Previous Buttons -->
        <div class="button-container">
            <button @onclick="FlipCard" style="background-color: #6f42c1; border-radius: 10px">Flip Card</button>
            <button @onclick="PreviousCard" style="background-color: #6f42c1; border-radius: 10px">Previous</button>
            <button @onclick="NextCard" style="background-color: #6f42c1; border-radius: 10px">Next Card</button>
        </div>
        
        <!-- Quality score buttons-->
        <div class="button-container" style="padding: 20px"> <!-- Need to make these square and add a shadow -->
            <button @onclick="() => { _qualityScore = 1; }" style="background-color: #b32121; border-radius: 10px">Again</button>
            <button @onclick="() => { _qualityScore = 2; }" style="background-color: #ffc720; border-radius: 10px">Hard</button>
            <button @onclick="() => { _qualityScore = 3; }" style="background-color: #6c757d; border-radius: 10px">Neutral</button>
            <button @onclick="() => { _qualityScore = 4; }" style="background-color: #0dcaf0; border-radius: 10px">Good</button>
            <button @onclick="() => { _qualityScore = 5; }" style="background-color: #20c997; border-radius: 10px">Perfect</button>
            <button @onclick="SubmitAnsweredCard" style="border-radius: 10px">Submit</button>
        </div>
        
        <!-- Add card button -->
        <div class="button-container">
            <button @onclick="ToggleFormVisibility" style="background-color: #6f42c1; border-radius: 10px">Add Card</button>
            @if (_showForm)
            {
                <form>
                    <div>
                        <label for="_frontCardInput">Front</label>
                        <input type="text" id="_frontCardInput" @bind="_frontCardInput" />
                    </div>
                    <div>
                        <label for="_backCardInput">Back</label>
                        <input type="text" id="_backCardInput" @bind="_backCardInput" />
                    </div>
                    <div>
                        <label>Deck: </label>
                        <select @bind="_selectedAddCardDeckId">
                            @foreach (var deck in _deckService.DeckList)
                            {
                                <option value="@deck.DeckId">@deck.Name</option>
                            }
                        </select>
                    </div>
                    <button @onclick="SubmitCard" type="submit">Submit Card</button>
                </form>
            }
        </div>
    }
    else
    {
        <p>Deck is empty.</p>
    }
</div>


@code {
    
    /* Flashcard Variables */
    private IList<Flashcard> Flashcards { get; set; } = new List<Flashcard>();
    private FlashcardService _flashcardService = new FlashcardService();
    private int _currentIndex;
    private bool _showAnswer;
    private int _qualityScore = -1;
    
    /* Deck Variables */
    private DeckService _deckService = new DeckService();
    private int _selectedAddCardDeckId;
    private int _currDeckId;
    
    [Parameter]
    public int CurrDeckId { get => _currDeckId;
        set
        {
            if (_currDeckId != value)
            {
                _currDeckId = value;
                _ = OnDeckSelectionChanged();
            }
        } 
    }

    /* Add card variables */
    private bool _showForm = false;
    private string _frontCardInput = "";
    private string _backCardInput = "";
    
    /* Methods */
    private void SubmitAnsweredCard() // Update current card's review date
    {
        if (_qualityScore > -1)
        {
            _flashcardService.UpdateFlashcard(Flashcards[_currentIndex], _qualityScore);
            DataService.UpdateCardDate(Flashcards[_currentIndex]);
            Console.WriteLine("Quality score entered.");
        }
        else
        {
            Console.WriteLine("No score entered.");
        }
    }
    
    private async Task OnDeckSelectionChanged()
    {
        // Fetch flashcards for the selected deck
        Flashcards = await DataService.GetFlashCardsAsync(CurrDeckId);
        if (Flashcards.Any())
        {
            _currentIndex = 0;
            _showAnswer = false;
        }
        else
        {
            _currentIndex = -1;
        }
        
        StateHasChanged(); // Requests UI update
    }

    protected override async Task OnInitializedAsync()
    {
        _deckService = new DeckService() { DeckList = await DataService.GetDecksAsync() };
        CurrDeckId = _deckService.DeckList[0].DeckId;
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (CurrDeckId > 0)
            {
                await LoadFlashCards(CurrDeckId);
            }
            else
            {
                await LoadFlashCards(_deckService.DeckList[0].DeckId);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        await LoadFlashCards(CurrDeckId);
    }
    
    private async Task LoadFlashCards(int deckId)
    {
        Flashcards = await DataService.GetFlashCardsAsync(deckId);
        if (Flashcards.Any())
        {
            _currentIndex = 0;
            _showAnswer = false;
        }
        StateHasChanged();
    }

    void SubmitCard()
    {
        var flashcard = new Flashcard { FrontData = _frontCardInput, BackData = _backCardInput, Revisions = 0, NextRevisionDate = DateOnly.FromDateTime(DateTime.Now), CreationDate = DateOnly.FromDateTime(DateTime.Now), DeckId = _selectedAddCardDeckId};
        DataService.AddCard(flashcard);
        _currentIndex++;
    }

    void ToggleFormVisibility()
    {
        _showForm = !_showForm;
    }

    void NextCard()
    {
        if (_currentIndex < Flashcards.Count - 1) _currentIndex++;
        _showAnswer = false;
    }

    void PreviousCard()
    {
        if (_currentIndex > 0) _currentIndex--;
        _showAnswer = false;
    }

    void FlipCard()
    {
        if (_showAnswer == false) _showAnswer = true;
        else _showAnswer = false;
    }
}
